body
    {
    background-color: #eaf7ff;
    }
p
    {
    margin: 0;
    font-size: calc(2vw + 1.5vh);
    }
a
    {
    text-decoration: none;
    }
td
    {
    margin: 0;
    font-size: calc(2vw + 1.5vh);
    }
